<?xml version="1.0" encoding="utf-8"?>
<!-- Debug build only: a tiny round test screen with one EditText per input type, for emulator typing tests.
     Not part of the release APK (build-all.sh checks). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.TypingTestActivity"
            android:exported="true"
            android:label="Keyboard test"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
